{% extends "layout.html" %}
{% block content %}
<div class="home">
  <h1>Hello, Welcome to my page!!</h1>
  <p><strong>A little about me.</strong></p>
  <p>I am Niharika, I have done my Bachelors in Computer Science and Engineering in 2009, India. I have about 7 years of total work experience as a Software Tester,
    GIS Analyst and as a Customer Service Representative.<br><br>
    My 4 years experience in Software Testing has taught me a great deal about dealing with Software Projects. I have developed Strong problem-solving skills, Ability to manage projects individually and as a team.<br>
    I am keen to utilize my passion for excellent service in best possible experience for the task I am assigned.
  </p>
</div>
{% endblock %}

/* My 4 years experience in Software Testing has taught me a great deal about dealing with Software Projects. I have developed Strong problem-solving skills, Ability to manage projects individually and as a team.
* I am keen to utilize my passion for excellent service in best possible experience for the task I am assigned */
