{% extends "layout.html" %}
{% block content %}
<div class="index">
  <h3>Cover Letter </h3>
  <p>
Dear Hiring Manager,<br><br>

With the covering letter and attached resume I would like to express my interest in obtaining employment as a Software Engineer. Allow me to explain how I contribute my skills and to exercise my potential and apply the Knowledge I gained through Python Programming Language and Hadoop Big data developer online course for approximately 100hrs. You will also find my CV enclosed for details of my skills and career history. I earned my bachelor’s degree in computer Science & Engineering, 2009 from India and got my credentials assessed to Canadian equivalence through IQAS. <br><br>

After serving 4 years as a Software Tester, India, to sustain myself, I have reached the conclusion that, I need to advance my career into Software Development, the best way is to take a course on software programming languages, software tools and technologies and join as an Entry level Junior Software Developer position with a company that shares my values and ambitions and learn from the best. You will also find some of my work done on my Github account <strong> https://github.com/kalletla3 </strong> (Deployed a web page using Flask and python <strong> (http://kalletla.herokuapp.com) </strong>, created a database using sqlite3 and python) <br><br>

I feel that joining your firm will provide me emerging skills in the latest technologies. Having the privilege of serving as an entry level developer with your firm will give me the exposure I need. With the right opportunities and experience to projects and process, I believe I can achieve some good experience. I hope to with your firm’s help. <br> <br>

I feel, learning is more important than earning, so my focus is to gain knowledge and I do trust that the company pay will be in consistent to market. I would like the opportunity to meet with you to discuss about the position. Please let me know if you have any questions. You can reach me by phone at 780-832-6137 or by email at vankayala.niharika@gmail.com
Thank you for your time,<br><br><br>

Sincerely,<br>
Niharika Vankayala
  </p>
</div>
{% endblock %}
