{% extends "layout.html" %}
{% block content %}
<div class="project">
  <h3>Projects</h3>

  <p><strong><u> Project #1 </u></strong></p>
  <p>
    Client         :  Appollo Health Hospitals<br>
    Role           : Test Engineer<br>
    Team Size	     : 19<br>

    &ensp; The project called Medical Record Tracking System (MRTS) helps to record and track the medical records of the patient. The current tracking system contributes immensely to the problem of missing patient's medical record and delay and long queues patients endure before receiving the treatment. The developed system does not only track records faster and more efficiently than the current system but can also perform other records management functions such as the generation of reports on patient's admissions and discharge.<br>

    <strong><u>Responsibilities:</u></strong><br>
    &ensp; •	Worked in early stage of projects to establish Plans, Standards and Procedures that will add value to the Development effort and satisfy the constraints of the project<br>
    &ensp; •	Involved in writing Test plans, Test cases and responsible for executing the Test Scripts<br>
    &ensp; •	Analysed Software and Business Requirements documents to get a better understanding of the system from both technical and business perspectives<br>
    &ensp; •	Involved in designing, Developing and Executed Test Plans, Test Cases and Test Procedures based on the Functional specifications<br>
    &ensp; •	Prepared Requirement Traceability Matrix to verify that all stated and derived requirements are allocated to   system components<br>
    &ensp; •	Utilized HP QTP to maintain large data-driven scripts to perform new order and existing order modification processing<br>
    &ensp; •	Updated the test cases on Quality Centre and managing of test cases pertaining to the modules and scenarios and managed manual test plans in Excel<br>
    &ensp; •	Worked with users to design and develop user acceptance test scenarios and administer portions of the testing process<br>
  </p>

  <p><strong><u> Project #2 </u></strong></p>
  <p>
    Client       	:  State Bank of Hyderabad<br>
    Role          : QA Analyst     <br>
    Team Size	    : 19<br>

    &ensp;It is a Net Banking facility used by bankers to provide banking solutions to customers of the esteemed State Bank of Hyderabad. It has a wide range of functionalities including Adding, Editing, Deleting customer. Also, opening new account, editing, deleting accounts and so on for 2 roles, Manager and Customer.<br>

    <strong><u>Responsibilities:</u></strong><br>
    &ensp; •	Worked in a Software Development lifecycle using Agile(scrum) methodology<br>
    &ensp; •	Involved in a complete software development process producing test deliverables from start to end through the entire SDLC assisting QA Team Lead in writing the Test plans and Test Scenarios for the project<br>
    &ensp; •	Analyzed system Requirement Specification, involved in each step of the test documentation such as writing Test Scenarios, Test cases and perfect report<br>
    &ensp; •	Performed manual testing to test the functionality and GUI of the application<br>
    &ensp; •	Thoroughly tested the application to reduce the defect rates in each release<br>
    &ensp; •	Done thorough testing of the net banking application along with bug reporting and tracking until they were closed<br>
    &ensp; •	Performed extensive manual and Regression testing of the application<br>
    &ensp; •	Attended daily scrum meeting and coordinated with developers<br>
  </p>
  <p><strong><u> Project #3 </u></strong></p>
  <p>
    Client       	:  Progressive Insurance<br>
    Role          : Junior Tester         <br>
    Team Size	    : 10 <br>

    &ensp;The Progressive Corporation is one of the largest providers of car insurance in the United States. “On Page edit” is a enhancement project which completely deals with AQAR(Annual Quality Assurance Report) which is handled by Insurance agents for 49 United States. Here, edit page was converted to on-page edits highlighting the error fields to provide better user experience and understandability for the agents.<br>

    <strong><u>Responsibilities:</u></strong><br>
    &ensp; •	Test cases preparation, updation and execution<br>
    &ensp; •	Involved in GUI testing<br>
    &ensp; •	Generated test cases and performed Manual Testing<br>
    &ensp; •	Prepared Defect Reports<br>
    &ensp; •	Participated Scrum Meetings with team members and Client<br>
    &ensp; •	Reviewed the Test status through ALM and Report
  </p>

</div>
{% endblock %}
