{% extends "layout.html" %}
{% block content %}
<div class="resume">
  <h3>Resume</h3>
  <p> <strong><u> Objective </u></strong> <br><br>
    &ensp;Over five years of experience in the field of Software Quality Assurance and Software Testing. Have good exposure with all the Phases of Software Development Life Cycle (Planning, Design, Development, Testing and Implementation). I am an ambitious individual who is looking to broaden my career path in the field of Software Development and to exercise my potential and apply the knowledge that I gained through Python programming Language and Hadoop Big data online courses.
  </p>

  <p> <strong><u> Professional Summary </u></strong> <br><br>
    &ensp;•	Hands on experience in the Manual and knowledge on Automation testing<br>
    &ensp;•	Extensive working experience in various domains like Insurance, Healthcare, Banking<br>
    &ensp;•	Contribution in creating Test Plan and translation of Software Business Requirements into Test conditions and Test cases and good documentation skills<br>
    &ensp;•	Expertise in executing the Test cases and identifying defects, recording defects and Troubleshooting issues in HP Quality Center is now known as HP ALM<br>
    &ensp;•	Experience in recognizing the priority and severity of the bug with in-depth knowledge of Bugs life cycle<br>
    &ensp;•	Skilled in understanding Software Requirement Specification and identifying the required Test Scenarios<br>
    &ensp;•	Hands on experience in Functional Testing, Black Box, System Testing, Integration Testing, Ad-hoc, Smoke, Cross Browser, Regression, Batch, and User Acceptance Testing<br>
    &ensp;•	Experience working with SDLC like Water fall, Agile(Scrum)<br>
    &ensp;•	Excellent knowledge on Software Test Life Cycle(STLC) and its methodologies like Risk based methodology, test case driven methodology, manual testing and knowledge on automated testing<br>
    &ensp;•	Ability to adapt to the changing work environment to implement testing solutions in an efficient manner<br>
    &ensp;•	Acceptable knowledge of SQL and experience at conducting Backend Testing by writing and executing SQL Queries<br>
    &ensp;•	Excellent verbal and written skills with ability to work in a team as well as independently within the time constraints and under minimum supervision<br>
    &ensp;•	Proven ability to prioritize and handle multiple tasks<br>
    &ensp;•	Detail-oriented; adaptable and flexible<br>
    &ensp;•	Preparation of monthly and weekly status reports
  </p>

  <p> <strong><u> Professional Skills </u></strong> <br><br>
      &ensp; Software Testing Skills 		<strong>:</strong>	&nbsp;&nbsp;&nbsp;&nbsp; Manual Testing<br>
      &ensp; Domain Knowledge	 <strong>:</strong>	&nbsp;&nbsp;&nbsp;&nbsp; Insurance, Core Banking<br>
      &ensp; Database			<strong>:</strong>	&nbsp;&nbsp;&nbsp;&nbsp; Knowledge of SQL, Sqlite3, Postgres, MongoDB<br>
      &ensp; Operating Systems		<strong>:</strong>	&nbsp;&nbsp;&nbsp;&nbsp; Windows 8, Windows 10, Linux<br>
      &ensp; Test Management Tool  	<strong>:</strong>	&nbsp;&nbsp;&nbsp;&nbsp; Test Link, Quality Control<br>
      &ensp; Programming Languages 	<strong>:</strong> &nbsp;&nbsp;&nbsp;&nbsp;	Good working knowledge of Python<br>
      &ensp; Web Technologies		<strong>:</strong>	&nbsp;&nbsp;&nbsp;&nbsp; HTML, CSS, JavaScript<br>
      &ensp; Tracking Tool			<strong>:</strong>  	&nbsp;&nbsp;&nbsp;&nbsp; HP ALM, Bugzilla<br>
      &ensp; Version Control		 	<strong>:</strong> &nbsp;&nbsp;&nbsp;&nbsp;	Git<br>
      &ensp; Repository			 <strong>:</strong> &nbsp;&nbsp;&nbsp;&nbsp;	GitHub
  </p>

  <p> <strong><u> Professional Experience </u></strong> <br><br>
    &ensp; Worked as <strong>GIS Analyst</strong> in Minvesta Infotech, Hyderabad, India from <strong> Dec 2009 - Aug 2012</strong><br><br>
    &ensp; Worked as <strong>Test engineer</strong> in CSC Technologies, Hyderabad, India from <strong> Dec 2012 - Dec 2016</strong><br>
    &emsp; •	Exposed to build deployment in Test environment and production<br>
    &emsp; •	Exposed to Core Banking and Health domain deliberately<br>
    &emsp; Understanding Logical flow of the Application from Business Knowledge and converting the requirements to test scenarios<br>
  </p>

  <p> <strong><u> Volunteer Experience </u></strong> <br><br>
    &ensp; •  Administrative Support at "The Work Place", Grande Prairie, Canada from <strong> Oct 2016 - Nov 2016 </strong>
  </p>

  <p> <strong><u> Retail Experience </u></strong> <br><br>
    &ensp; •  Cashier at "Walmart", Canada from <strong> Nov 2016 - July 2018 </strong>
  </p>

  <p> <strong><u> Education </u></strong> <br><br>
    &ensp; •  Bachelors in Computer Science and Engineering from <strong>Sep 2005 - May 2009</strong>
  </p>

</div>
{% endblock %}
